@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #ecf4fc;
}
.header{
  background: url('https://www.studiokelly.in/images/cinematography_banner.jpg');
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3em;
  list-style: none;
}
.nav-ul li a{
  display: inline-block;
  color: black;
  font-family: Nunito, sans-serif !important;
  padding: 10px 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}
.hamburger{
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.hamburger:focus{
  outline: none;
}



/* -----------------------video section--------------------- */
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container{
  position: relative;
  min-height: 70vh;
  border-radius: 10px;
  background: #fff;
  width: 78vw;
  padding: 30px 10px 30px 10px;
  margin-top: -10vh;
}
.main-container .video-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.main-container .video-container .video{
  height: 250px;
  width: 350px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
  cursor: pointer;
  overflow: hidden;
}
.main-container .video-container .video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}
.main-container .video-container .video:hover video{
  transform: scale(1.2);
}

.main-container .popup-video{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100%;
  display: none;
}
.main-container .popup-video video{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
}
.main-container .popup-video span{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}
/* -------------------media queries---------------------- */
@media screen and (max-width:768px) {
  
  .nav-ul{
      display: none;
      width: 100%;
      flex-direction: column;
      overflow: hidden;
      /* font-size: 18px; */
  }
  .header{
      width: 100%;
  }
  .nav-ul li{
      font-size: 22px;
  }
  .nav-ul.show{
      display: flex;
      transition: all 0.5s;
      /* background-color: white; */

  }
  .hamburger{
      display: block;
      padding-top: 2em;
      margin: 0 1.5em 1.5em 2em;
  }

  /* ------------------video section------------------- */
  .main-container{
    width: 100%;
    margin-top: -5vh;
  }

  .main-container .popup-video video{
    width: 93%;
  }
  
 
}
@media screen and (min-width:1750px){
  .main-container{
  padding-top: 40px;
  padding-left: 30px;
}
}

  