@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"); 
*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --hue: 206;
  --bkg: var(--hue) 50% 96%;
  --text: var(--hue) 70% 9%;
  --dark: var(--hue) 70% 3%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background:#ecf4fc;
}

.container {
  max-width: 1200px;
  margin: auto;
  /* border: 2px solid red; */
  padding: 25px 50px 25px 50px;
  background-color: white;
  border-radius: 10px;
  margin-top: -3em;
  position:relative;
  top: -3vh;
  
  
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  
}

.image-item {
  flex: 1 0 28%;
  min-width: 200px;
  cursor: zoom-in;
  
 
}


.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
  border-radius: 7px;
  z-index: 300;
}

.image-item:is(:hover, :focus) img {
  transform: scale(1.03);
  
}




.upper-header{
  height: 60vh;
  width: 100%;
  background: url('https://www.studiokelly.in/images/pre_wedding_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  
  /* z-index: -1; */
}

.info{
  color: white;
  position: absolute;
  right:1.5em;
  top: 1.2em;
}
.text{
  color: white;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  align-items: center;
  padding-top: 100vh;
}
.lower-header{
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.25em;
}
h3{
  font-size: 23px;
  text-align: center;
 /* position: absolute;
 left: 35vw; */
  
  
}
.flex{
  display: flex;
  justify-content: space-around;}
  
nav{
  height: 80px;
  width: 100%;
  color: white;
 
  /* backdrop-filter: blur(4px); */
  
}
nav ul{
  list-style: none;
  font-size: 1.3rem;
  float: right;
  margin-right: 180px;
  /* backdrop-filter: blur(3px); */
  padding: 30px 0 30px 0;
  
  
  /* font-weight: 400; */
  
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 50px;
}
a {
  text-decoration: none;
  color: black;
  font-family: Nunito, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
  
}
#check{
  display: none;
}
nav ul li a:hover{
  color: rgb(177, 177, 177);
}
#img{
  height: 90px;
  width: 180px;}

  .slide-effect{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide-right1,.slide-right2,.slide-right3{
    position: relative;
    opacity: 0;
    font-size: 35px;
  }
  .slide-right1{
    left: -40px;
    top: 5px;
    animation: slide-right ease .4s forwards .6s;
  }
  .slide-right2{
    left: -40px;
    top: 15px;
    animation: slide-right ease .4s forwards .6s;
  }
  .slide-right3{
    left: -40px;
    top: 25px;
    animation: slide-right ease .4s forwards .6s;
  }
  @keyframes slide-right{
    0%{transform: translateX(0);}
    100%{
      transform: translateX(40px);
    }
  }
  @media (max-width: 768px){
  /*------------------------ mobile background---------------- */
  .upper-header{

      background: url('https://images.unsplash.com/photo-1647101295412-527ed53a11ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
      background-size: cover;
      background-repeat: no-repeat;
  }
.feat {
  font-size: 20px;
  text-align: center !important;
  margin-bottom: 50px;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}
}
@media only screen and (max-width: 680px) {
  #logo{
      transform: rotate(90deg);
      width: 10%;
  }
  h3{
      font-size: 18px;
  }
  .container{
    top: 10vh;
  }
  .upper-header{
    height: 75vh;
  }
  
}
@media(max-width:952px){
  nav ul li {
      font-size: 15px;
  }
  #logo{
    transform: rotate(90deg);
    width: 10%;
}
.checkbtn{
    display: block;
    

}
ul{
    /* backdrop-filter: blur(3px); */
    /* background-color: white; */
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    text-align: center;
    transition: all .5s;
    margin-top: 70px;
    
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

}
nav ul li a{
    font-size: 15px;
}
#check:checked ~ ul{
    left: 0;
   
    
 
}
.container{
  top: 10vh;
}
.upper-header{
  height: 65vh;
}
}
@media(max-width:858px){
  #logo{
      transform: rotate(90deg);
      width: 10%;
  }
  .checkbtn{
      display: block;
      
  
  }
  ul{
      /* backdrop-filter: blur(3px); */
      position: fixed;
      width: 100%;
      height: 100vh;
      /* left: -100%; */
      display: none;
      text-align: center;
      transition: all .5s;
      margin-top: 70px;
      
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 20px;

  }
  nav ul li a{
      font-size: 15px;
      color: white;
  }
  #check:checked ~ ul{
      /* left: 0; */
      display: block;
     
      
   
  }
  .container{
    top: 10vh;
  }
  .upper-header{
    height: 65vh;
  }
  
}
@media only screen and (min-width: 992px) {
  h3{
      position: absolute;
      left: 35vw;
  }
}
@media only screen and (min-width: 1200px) {
  h3{
      position: absolute;
      left: 35vw;
  } 
  
}
@media (max-width:600){
  .container{
    max-width: 1000px;
  }
  nav ul li a{
    font-size: 10px;
  }
  nav ul li{
    line-height: 10px;
  }
}

@media screen and (min-width:1750px){
  nav ul li{
    margin: 0 81.75px;
  }
  .container{
    max-width: 1500px;
    padding: 50px 200px 50px 200px;
  }
}









